<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
<%- include("../partials/nav.ejs") %>
<main>
<%- include("../partials/header.ejs") %>
<div class="background">
<%- include("../partials/footer.ejs") %>
<div class="pagebox">
<a name="top"></a>
<div class="pageheading">
 <h2 class="heading">The Blog Admin Page</h2>
</div>      
      
<div class="newblogbar">
  <a href="/blog-admin/create" class="adminbuttons newblog">Create New Blog</a>
</div>

<div class="page-pad">
 <% if (blogs.length > 0) { %>
  <% blogs.forEach(blog => { %>
    <a class="bloghover" href="#/blog/<%= blog.id %>">
     <div class="blogbox">
      <div class="inputrow">
        <div class="inputcolumn">
     <p class="bloghead"><%= blog.title %></p>
      <p class="blogauthor">Written by: <%= blog.author %><br><span class="date"><%= blog.createdAt.toLocaleDateString() %></span></p>
     <p class="summary"><%= blog.summary %></p>
    </div>
     <div class="inputcolumn"><img height="250" class="cubbyimg" src="<%= blog.coverImagePath %>"></div>
     </div>
    </a>

 <div class="adminbar">
   <a href="/blog-admin/edit/<%= blog.id %>" class="adminbuttons edit">Edit</a>
 </div>
 
 <div class="reveal blogbody" id="/blog/<%= blog.id %>">
  <a href="#"></a>
  <div class="inputrow">
    <div class="inputcolumn"><p><%= blog.body %></p></div>
</div>



<% if (blog.body2 != null && blog.body2 !== '') { %>
  <div class="inputrow">
    <div class="inputcolumn"><p><%= blog.body2 %></p></div>
</div>
<% } %>
<% if (blog.body3 != null && blog.body3 !== '') { %>
  <div class="inputrow">
    <div class="inputcolumn"><p><%= blog.body3 %></p></div> 
</div>
<% } %>
 </div>
</div>

<% }) %>
<% } else { %>
  <p>There are no blogs to display...</p>
<% } %> 

<div class="central-button"><a href="#top"><button class="returntoarticles">back to top</button></a>
</div>
<div><p><br><br><br><br><br></p></div>
</div>
</div>
<%- include("../partials/footer.ejs") %> 
</div>
</main>

<script>
  $(document).ready(function(){
    $('a[href^="#"]').on('click',function (e) {
        e.preventDefault();
  
        var target = this.hash,
        $target = $(target);
  
        $('html, body').stop().animate({
            'scrollTop': $target.offset().top
        }, 900, 'swing', function () {
            window.location.hash = target;
        });
    });
  });
  </script>
  
</body>
</html> 